# Ignore node_modules directory
**/node_modules

# Ignore build output
build/
dist/
out/
*.log

# Ignore environment variables file
.env

# Ignore npm debug log
npm-debug.log*

# Ignore yarn integrity file
.yarn-integrity

# Ignore macOS metadata files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
__MACOSX/

# Ignore editor-specific files
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw??







