:root{
    --backgroundcolor:#f3f4f6;
    --Buttons--backgroundcolor:#15803d;
}
.subsign{
    display: grid;
    grid-template-columns: 700px 700px;
}
.Signup{
    max-width: 1350px;
    height: 810px;
    background-color: white;
    margin-top: 90px;
    margin-left: 290px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgb(155, 155, 155);
    
}
.signpic{
    width: 700px;
    height: 810px;
    margin-left: -20px;
    border-top-left-radius: 15px;
    border-bottom-left-radius:15px;
 
}
.inputName{
    width: 400px;
    height: 35px;
    border-radius: 5px;
    border:#f3f4f6 ;
    box-shadow: 1px 1px 6px rgb(155, 155, 155);
    padding: 20px;
    color: black;
    margin-top: -5px;
    letter-spacing: 1px;
}
.signup{
    width: 400px;
    font-weight: 600;
    height: 45px;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 1px 1px 6px rgb(155, 155, 155);
    background-color:var(--Buttons--backgroundcolor);
    border: none;
    color: white;
    font-size: 20px;
}
.Name{
    font-size: 18px;
    margin-left: -302px;
    margin-top: 15px

}
.Addres{
    font-size: 18px;
    margin-left: -320px;
}
.nic{
    font-size: 18px;
    margin-left: -285px;
    margin-top: 15px;
}
.date{
    font-size: 18px;
    margin-left: -275px;
    margin-top: 15px;

}
.emaill{
    font-size: 18px;
    margin-left: -345px;
    margin-top: 15px;

}
.passwordd{
    font-size: 18px;
    margin-left: -308px;
    margin-top: 15px;

}
.passworddd{
    font-size: 18px;
    margin-left: -240px;
    margin-top: 15px;


}

.phone{
    font-size: 18px;
    margin-left: -265px;
    margin-top: 15px;



}
.address{
    font-size: 18px;
    margin-left: -320px;
}
    
.signlogofarmer{
    font-size: 32px;
    margin-top: 30px;
    margin-left: -35px;
    font-weight: bold;
    letter-spacing: 2px;
}
.signinling{
    margin-top: 20px;
    font-size: 18px;
}
span1{
    margin-left: -175px;
    font-size: 18px;
}
.signform{
    margin-left: -50px;
}
.eye{
margin-left: -32px;
background-color: transparent;
border: none;
}
#inputnameeye{
    margin-left: -15px;
    border: none;
}
#eyeinside{
font-size: 19px;

}
#enterdet{
    font-size: 18px;
    margin-left: -180px;
}