#h6{
    margin-top: 0px;
    font-weight: bold;
    color: linear-gradient(to right, #000000, #ffffff);

}
#welcome{
    font-size: 58px;
 width: 100%;
}
.butresfarmer{
    margin-left: 500px;
}
#userprofile{
    color: #000000;
    font-size: 22px;
    background-color: #ffffff;
    height: 30px;
    width: 30px;
    border-radius: 50%;


}
#navnamefarmer{
    padding-left: 100px;
}
#farfoot{
/* background-color: #000000; */
margin-top: -25px;
}