:root{
    --backgroundcolor:#f3f4f6;
    --Buttons--backgroundcolor:#15803d;
    --Navbar--backgroundcolor:#222933;
}
.booking-form {
    max-width: 500px;
    height: 760px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    margin-left: 15px;
    margin-top: 0px;
}

 .bookingform {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 15px;
}
#details{
    height: 150px;
}

#submitBtn {
    width: 100%;
    background-color:var(--Buttons--backgroundcolor);
    border: none;
    color: #fff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 12px;
}
.submitbtn{
    margin-top: -50px;
}

#submitBtn:hover {
    background-color: #000000;
    color: white;
}