:root{
    --Navbar--backgroundcolor:#222933;
    --Buttons--backgroundcolor:#15803d;
    --backgroundcolor:#f3f4f6;



}
#bgphot{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 0.85;
}

#prebutton{
    /* background-color: var(--backgroundcolor); */
    margin-top: 200px;
    height: 800px;
    padding-left:90px;
    margin-left: -188px;
    margin-top: 64px;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
   display: none;

   

}
#nextbutton{
    /* background-color: var(--backgroundcolor); */
    margin-top: 200px;
    height: 800px;
    padding-left:90px;
    margin-left: 188px;
    margin-top: 64px;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
   display: none;




}
#bgvideo{
    max-width: 1200px;
   height: 800px;
   margin-top: 60px;


}
h1{
    font-size: 55px;
    background-color: aliceblue;
    width: 800px;
    height: 300px;
    margin-top: -300px;
}
#para{
    z-index: -auto;

}
#carouselExampleAutoplaying{
    margin-top: 80px;
    margin-left: 5px;
    height: 100vh;
}
.h6{
    font-size: 40px;
    top: 0;
    width: 100%;
    z-index: -1000;
    
}
/* Home.css */

.parahome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Ensure the text is in front of the images */
  }
  .welcome{
    font-size: 40px;

    
  }
  
  .parahome .h6 {
    margin-left: -700px;
    text-align: left;
    width: 500px;
    font-size: 65px;
    background: linear-gradient(to left, rgb(72, 175, 110), rgb(0, 0, 0));
    -webkit-background-clip: text; /* For Safari/Chrome */
    background-clip: text;
    color: transparent; /* Hides the actual text */
    line-height: 80px;
    font-weight: 600;
    margin-top: -100px;
}

  
.homebutton{
    width: 200px;
    height: 60px;
    border: none;
    background-color: var(--Buttons--backgroundcolor);
    color: var(--backgroundcolor);
    box-shadow: 1px 1px 10px rgb(93, 176, 129);
    font-size: 24px;
    font-weight: bold;
    margin-left: -1175px;
    margin-top: 40px;
    border-radius: 5px;

}