:root{
    --backgroundcolor:#f3f4f6;
    --Buttons--backgroundcolor:#15803d;
    --Navbar--backgroundcolor:#222933;
}
.boss{
    font-size: 35px;
    color: white;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 400px;
}
.bossimg{
    height: 60px;
    background-color: white;
    border-radius: 50%;
    margin-left: 20px;
}
.sidbarboss{
    height: 96.5vh;
    width: 400px;
    margin-top: -825px;
    /* background-color:rgb(2, 0, 36);bach */
    box-shadow: 1px 1px 10px;
}
.addserviceinmachinepage{
    margin-left: -300px;
    margin-top: -50px;
}
.sidbarboss{
    text-align: left;
    font-size: 22px;
    margin-top: -828px;
    height: 91vh;
}
#sidbarmachine{
    margin-top: -830px;
    height: 91.0vh;
}
.dash{
    width: 250px;
    border-radius: 10px;
    height: 40px;
    margin-left: 70px;
    margin-top: 40px;
    box-shadow: 2px 3px 5px rgb(148, 147, 147); 
    border: none;
}
#dash{
    font-size: 22px;
    margin-left: 70px;
}
.dash1{
    width: 10px;
    border-radius: 10px;
    height: 40px;
    margin-left: 70px;
    margin-top: 40px;
    box-shadow: 2px 3px 5px rgb(148, 147, 147); 
}
.dash:hover{
    background-color: #15803d;
}
#logout:hover{
    background-color: #ee3c3c;


}
.copyrights{
    font-size: 18px;
    margin-top: 55px;
    margin-left: 40px;
   
}
#confirmmodel{
    margin-top: -800px;
    background-color: #ffffff;
    width: 400px;
    box-shadow: 1px 1px 5px;
    margin-left: 900px;

}
.sidetext{
    font-size: 45px;
    color: var(--Navbar--backgroundcolor);
    text-align: center;
    padding-top: 80px;
}
#sidetext{
    margin-top: -20px;
    
}
.slogan{
    font-size: 25px;
    margin-top: -50px;
}
span{
    font-size: 28px;
}
.footboss{
    background-color: #15803d;
    font-size: 7px;
    width: 80%;
    height: 100vh;
    margin-left: 320px;
    margin-top: 10px;
}
.footlogoboss{
    height: 80px;
    margin-top: 60px;
    margin-left: 39px;
}
#logoadmin{
    margin-left: -200px;
}
#machinealigh{
    background-color: #15803d;
    height: 95vh;
}
.content{
    background-color: #ffffff;
    height: 91vh;
    width: 79%;
    margin-left: 400px;
   
}
#content{
    margin-top: -180px;
}
.gridcount{
    display: grid;
    grid-template-columns: 280px 280px 280px 280px 280px;
    margin-left: -100px;
    margin-top: -5px;
}
.fcount{
    font-size: 25px;

}

.Farmercount{
    text-align: center;
    margin-left: 180px;
    margin-top: 70px;
    font-size: 22px;
    width: 240px;
    height: 130px;
    padding-top: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px  ;
    font-weight: bold;
    /* background-color:#3586a3; */

}
.count{
    font-size: 38px;
    
}

#addlogo{
    font-size: 38px;
}
table{
    border-collapse: collapse;
    /* border: 1px solid black; */
  border-radius: 90px;
}
th{
    width: 200px;
    text-align: center;
    padding: 15px;
    background-color:rgb(36, 113, 163);
    color: whitesmoke;
    font-size: 22px;
    font-weight: bold;
    border: 1px solid;
    
}
td{
    /* border: 1px solid; */
    background-color: whitesmoke;
    padding: 10px;
    
}
.td:hover{
    background-color: #15803d;

}
.tabledata{
    border: none;
    background-color: transparent;
    margin-top: -30px;
   margin-left: 30px;
   border-bottom: none;
   border-radius: none;
   
}
#edit{
    width: 100px;
    height: 35px;
    border-radius: 5px;
    letter-spacing: 2px;
    color: whitesmoke;
    font-weight: bold;
    background-color:var(--Navbar--backgroundcolor);
    

}
.delete{
    width: 100px;
    height: 35px;
    border-radius: 5px;
    letter-spacing: 2px;
    color: whitesmoke;
    background-color: rgb(236, 61, 61);
    font-weight: bold;
    margin-left: 10px;
}
#tick{
    margin-left: 10px;
}
.Notecontainer{
    margin-top: 120px;
    margin-left: 80px;
    width: 1350px;
    border:none;
}

#content{
    margin-top: -55px;
    
}
#sidebarboss{
    width: 90%;
    margin-top: 100px;
    background-color: #15803d;
}
#kj{
    margin-top: -549px;
    
}
.alighnfarmer{
    /* background-color: #15803d; */
    margin-top: 100px;
    margin-left: 420px;
}
.detailsfarm{
    font-size: 36px;
    margin-left: -1200px;
    margin-top: -50px;
    
}
.alighnforadmin{
    height: 100vh;
    background-color: #15803d;


}
.Notecontainer{
    margin-top: 30px;
}




.pagenumber{
    background-color: var(--Navbar--backgroundcolor);
    color: white;
    width: 40px;
    height:40px;
    border-radius: 60%;
    margin-top: 10px;
    
}

#machin{
    margin-left: 150px;
}
.pagination{
    margin-top: 20px;
}
#pagination{
    display: fixed;
}
.verification{
    font-size: 28px;
    margin-left: -950px;
    margin-top: 50px;

}
#verification{
    padding-top: 90px;
    margin-left: -1150px;
    font-weight: bold;
}
#verificationmachine{
    padding-top: 70px;
    margin-left: -860px;
    font-weight: bold;
}
.tablemachine{
    margin-top: 50px;
    margin-left: 30px;
    width: 97%;
}

.messagemachine{
    width: 200px;
    height: 30px;
}

.Confirm{
    width: 80px;
    height: 30px;
    margin-top: 0px;
    margin-left: 10px;
    background-color:var(--Buttons--backgroundcolor);
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    font-weight: bold;
}
.Confirm:hover{
    background-color: #222933;
    color: white;
}
#cancel{
    background-color: red;
    color: white;
    border: none;
    font-size: 16px;
    
}
#cancel:hover{
    background-color: #222933;
    color: white;

}
.verifycationconfirm{
    width: 320px;
}

#cardmachine{
    margin-top: 55px;
}
.namemachine{
    text-align: left;
}
#correct{
    font-size: 20px;
    font-weight: bold;
    height: 30px;
    width: 30px;
    background-color:var(--Buttons--backgroundcolor);
    color: #fdfdfd;
    border-radius: 50%;
    padding-top: 5px;

}
#correct1{
    font-size: 10px;
    font-weight: bold;
    height: 20px;
    width: 20px;
    background-color:var(--Buttons--backgroundcolor);
    color: #fdfdfd;
    border-radius: 50%;
    padding-top: 5px;
    margin-left: 10px;
  
}
#wrong{
    font-size: 20px;
    font-weight: bold;
    height: 30px;
    width: 30px;
    background-color:red;
    color: #fdfdfd;
    border-radius: 50%;
    padding-top: 5px;
}
.isverifyed{
    font-size: 12px;
}

.vetype{
    width: 380px;
}
.address{
    width: 450px;
}
.vetype1{
    width: 400px;
}
.TotalBooking{
    background-color:var(--backgroundcolor);
    width: 220px;
    height: 130px;
    font-size: 20px;
    box-shadow: 0 4px 8px;
    border-radius: 10px;
    padding-top: 30px;
    font-weight: bold;
    margin-left: 20px;
    

}
.TotalBooking1{
    background-color:rgb(255, 255, 0);
    width: 220px;
    height: 130px;
    font-size: 20px;
    box-shadow: 0 4px 8px;
    border-radius: 10px;
    padding-top: 30px;
    font-weight: bold;
    margin-left: 20px;

    
    



}
.TotalBooking2{
    width: 220px;
    height: 130px;
    font-size: 20px;
    box-shadow: 0 4px 8px;
    border-radius: 10px;
    padding-top: 30px;
    font-weight: bold;
    margin-left: 20px;
    
    background-color:rgb(120, 192, 120);



}
.TotalBooking3{
    width: 220px;
    height: 130px;
    font-size: 20px;
    box-shadow: 0 4px 8px;
    border-radius: 10px;
    padding-top: 30px;
    font-weight: bold;
    margin-left: 20px;
    background-color:rgb(216, 94, 94);




}
.TotalBooking4{
    width: 220px;
    height: 130px;
    font-size: 20px;
    box-shadow: 0 4px 8px;
    border-radius: 10px;
    padding-top: 30px;
    font-weight: bold;
    margin-left: 20px;
    background-color:rgb(28, 193, 235);




}
.fletotal{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-left: 0px;
}
.namemachine{
    width: 300px;
    text-align: center;
}

/* In your CSS file (e.g., Machine.css) */
.tablemachine tbody tr {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.tablemachine tbody tr.fade-out {
  opacity: 0;
}
.farmertable{
    margin-left: 10px;
    margin-top: 50px;
    width: 100%;
}
.button-verify {
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .button-verify.button-verified {
    background-color: green;
  }
  
  .button-verify:not(.button-verified) {
    background-color: rgb(255, 255, 0);
  }
  
  #bell{
    font-size: 29px;
    color: white;
    margin-left: 20px;
    cursor: pointer;
  }

  .notification-bell {
    position: relative;
  }
  
  .notification-count {
    position: absolute;
    top: -10px;
    right: -15px;
    background: red;
    color: white;
    border-radius: 50%;
    padding: 2px 8px;
    font-size: 12px;
  }
  
  #fcount{
    margin-left: 250px;
  }
  .tdmachine{
    width: 250px;
  }


  
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .popup-content h2 {
    margin-top: 0;

  }
  
  .popup-content table {
    width: 100%;
    border-collapse: collapse;

  }
  
  .popup-content th, .popup-content td {
    border: 1px solid #ddd;
    padding: 8px;
    color: black;
    

  }
  
  .popup-content th {
    background-color: #f2f2f2;
  }
  
  .popup-content button {
    margin-top: 10px;
    padding: 5px 15px;
    background-color: #c04141;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .finish{
    width: 70px;
    height: 30px;
    background-color:rgb(28, 193, 235);
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;

  }
  .revewpanel{
    width: 100px;
  }