:root{
    --backgroundcolor:#f3f4f6;
    --Buttons--backgroundcolor:#15803d;
    --Navbar--backgroundcolor:#222933;
}
.maingrid{
    display: grid;
    grid-template-rows: 300px 600px;
    margin-top: 100px;
    height: 130vh;
    padding-top: 100px;
    
}
.gridaddresspanel{
    display: grid;
    grid-template-columns: 350px 580px 420px;
    column-gap: 10px;
   background-color: var(--Navbar--backgroundcolor);
    color:white;
    width: 64%;
    height: 200px;
    box-shadow: 1px 1px 2px;
    margin-left: 350px;
    border: none;
    opacity: .9;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#addressedit{
    margin-left: -50px;
    margin-top: 10px;
    
}
.Phone{
    margin-left: -120px;
    margin-top: 10px;
}
.addresspanel{
    height: 600px;
}
#mailabout{
    margin-top: 30px;
}
#icoedit{
    font-size: 40px;
    /* background-color:whitesmoke; */
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-top: 10px;
}
#icoedit1{
    font-size: 45px;
    /* background-color:whitesmoke; */
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-top: -15px;

}
.subadress{
    font-size: 25px;
    font-weight: bold;
}
.subadress1{
    font-size: 25px;
    font-weight: bold;
}
.subadress2{
    font-size: 25px;
    font-weight: bold;
    margin-top: 8px;
}
.subadresspara{
    font-weight: 600;
}
.subadresspara1{
    font-weight: 600;

}
.subadresspara2{
    font-weight: 600;


}
.ContactName{
    font-size: 22px;
    margin-left: -280px;
    font-weight: 500;

}
.ContactAddress{
    font-size: 22px;
    margin-left: -230px;
    font-weight: 500;



}
.ContactEmail{
    font-size: 22px;
    margin-left: -235px;
    font-weight: 500;

}
.Contactphone{
    font-size: 22px;
    margin-left: -15px;
    margin-top: 10px;
    font-weight: 500;

}
.Contactmassage{
    font-size: 22px;
    margin-left: 372px;
    margin-top: 10px;
    font-weight: 500;

}
.inputContactName{
    height: 50px;
    width: 350px;
    border-radius: 5px;
    box-shadow: 1px .5px 3px;
    border: none;
    padding: 15px;
    font-size: 18px;
    margin-top: 10px;
}
.inputContactAddress{
     height: 50px;
     width: 350px;
     border-radius: 5px;
     box-shadow: 1px .5px 3px;
     border: none;
    padding: 15px;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 30px;

}
.inputContactemail{
    height: 50px;
    width: 350px;
    border-radius: 5px;
    box-shadow: 1px .5px 3px;
    border: none;
    padding: 15px;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 150px;

}
.inputContactPhone{
    height: 50px;
    width: 350px;
    border-radius: 5px;
    box-shadow: 1px .5px 3px;
    border: none;
    padding: 15px;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 150px;

}
.inputContactmassage{
    height:80px;
    width: 730px;
    border-radius: 5px;
    border: none;
    padding: 15px;
    font-size: 18px;
    box-shadow: 1px .5px 3px;
    margin-top: 10px;
    margin-left: 820px;
    

}
.nameadd{
    display: flex;
    margin-left: 820px;
}
.mailphone{
    display: flex;
    margin-left: 670px;

}
.contactbutton{
    width: 250px;
    height: 50px;
    background-color: var(--Buttons--backgroundcolor);
    border-radius: 10px;
    margin-top: 100px;
    color: var(--backgroundcolor);
    font-size: 25px;
    box-shadow: 1px 1px 5px black;
    border: none;
    margin-left: 520px;


}
.piclastcontact{
    height: 250px;
    width: 400px;
    /* width:400px; */
    /* margin-left:px; */
    margin-top: -10px;
    opacity: .8;
    /* color: white; */
    /* background-color:var(--Navbar--backgroundcolor); */
    box-shadow: 1px 1px 5px black;
    border-top-right-radius: 20px;
    display: none;

}

.contactphotogrid{
    /* margin-left: -50px; */
    display:grid ;
    grid-template-columns: 440px 600px;
    margin-left: 350px;
    margin-top: -100px;
    
}
.contactabout{

text-align: left;
}
.HEADINGCONTACT{
    font-size: 42px;
    text-align: center;
    margin-top: 30px;
    color: var(--Navbar--backgroundcolor);
    font-weight: 600;
    margin-left: -180px;
}
.contactpara{
    font-size: 18px;
    margin-top: 10px;
    letter-spacing: .5px;
    line-height: 30px;
    font-weight: 600;
    margin-left: px;
}
.photocontact{
    /* background-color: #15803d; */
    height: 520px;
   
}
.massagepanel{
    margin-left: -770px;
    margin-top: 20px;

}
.map {
    /* box-shadow: 1px 1px 10px; */
    justify-content: center;
    margin-top: -280PX;
    margin-left: -330px;
}
.succesfull{
    margin-top: 100px;
}
 @media screen and (max-width: 450px){
.totalcontact{
    display: none;
}


}

  


